body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
/**backgroud colors***/
.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: #150578;
}

.bg-green {
  background-color: green;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #3066BE;
}

.container {
  width: 60%;
  height: auto;
  flex-direction: column;
  padding-top: 30px;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
}

.container-search-sort {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  flex-wrap: wrap-reverse;
}

.input-form {
  line-height: 30px;
  border: none;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-sort {
  line-height: 30px;
}

.input-search {
  border-radius: 20px;
  width: 200px;
}

.form-button {
  line-height: 25px;
  border: none;
  text-align: center;
  margin-top: 5px;
  color: white;
}

.form-button:hover{
  background-color: #9e96d4;
  color: black;
}

/**table start***/
.table-wrapper {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}
 
.table-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-weight: 700;
  background-color: #f2f2f2;
}
  
.table-header > .table-col {
  white-space: normal;
  justify-content: center;
}

.table-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
  
.table-row:nth-of-type(even) {
  background-color: #f2f2f2;
}
  
.table-row:nth-of-type(odd) {
  background-color: #ffffff;
}
  
.table-col {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

.container {
  width: 90%;
}
.container-search-sort {
  padding: 20px 20px 20px 0px;
}

} 